<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:theme="@style/AppTheme"
        android:label="Nexus Duo"
        android:icon="@drawable/nexus_logo"
        android:roundIcon="@drawable/nexus_logo"
        android:usesCleartextTraffic="false"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity android:name=".BrowserActivity" android:screenOrientation="portrait" />
        <activity android:name=".NetworkActivity" android:screenOrientation="portrait" />
        <activity android:name=".DashboardActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
