<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.INTERNET" />
<application android:allowBackup="true" android:label="Culture du Québec" android:theme="@style/AppTheme" android:usesCleartextTraffic="false">
<activity android:name=".RiskRegisterActivity" android:exported="false" />
<activity android:name=".TeamCapacityActivity" android:exported="false" />
<activity android:name=".ProjectTimelineActivity" android:exported="false" />
<activity android:name=".ApplicationChecklistActivity" android:exported="false" />
<activity android:name=".BudgetActivity" android:exported="false" />
<activity android:name=".ProjectEvidenceActivity" android:exported="false" />
<activity android:name=".MappingActivity" android:exported="false" />
<activity android:name=".StandardizationCenterActivity" android:exported="false" />
<activity android:name=".IndigenousActivity" android:exported="false" />
<activity android:name=".SearchActivity" android:exported="false" />
<activity android:name=".LiveDataActivity" android:exported="false" />
<activity android:name=".SectorGuideActivity" android:exported="false" />
<activity android:name=".DocumentActivity" android:exported="false" />
<activity android:name=".MainActivity" android:exported="true" android:screenOrientation="unspecified">
<intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
</activity>
</application>
</manifest>